<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Task Manager - Login</title>
  <link rel="stylesheet" href="/css/style.css">
</head>

<body>
  <nav>
    <ul>
        <li><a href="/users/register">Register</a></li>
    </ul>
</nav>

<div class="login-container">
  <h1>Login to Task Manager</h1>

  <form action="/users/login" method="post">
    <label for="username">Username:</label>
    <input type="username" id="username" name="username" required>

    <label for="password">Password:</label>
    <input type="password" id="password" name="password" required>

    <button type="submit">Login</button>
  </form>

  <p>Don't have an account? <a href="/users/register">Register here</a>.</p>
</div>
</body>

</html>
