<!-- views/updateTask.ejs -->

<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Task Manager - Update Task</title>
  <link rel="stylesheet" href="/css/update.css">
</head>

<body>
  <nav>
    <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/tasks">All Tasks</a></li>
        <li><a href="/users/logout">Logout</a></li>
    </ul>
</nav>
  <div class="update-task-container">
    <h1>Update Task</h1>
    <form action="/tasks/<%= task.task_id %>/update" method="post">
      <label for="title">Title:</label>
      <input type="text" id="title" name="title" value="<%= task.title %>" required>

      <label for="description">Description:</label>
      <textarea id="description" name="description"><%= task.description %></textarea>

      <label for="deadline">Deadline:</label>
      <input type="date" id="deadline" name="deadline" value="<%= task.deadline %>">

      <label for="status">Status:</label>
      <select id="status" name="status">
        <option value="Not Started" <% if (task.status === 'Not Started') { %>selected<% } %>>Not Started</option>
        <option value="In Progress" <% if (task.status === 'In Progress') { %>selected<% } %>>In Progress</option>
        <option value="Completed" <% if (task.status === 'Completed') { %>selected<% } %>>Completed</option>
      </select>

      <label for="priority">Priority:</label>
      <select id="priority" name="priority">
        <option value="High" <% if (task.priority === 'High') { %>selected<% } %>>High</option>
        <option value="Medium" <% if (task.priority === 'Medium') { %>selected<% } %>>Medium</option>
        <option value="Low" <% if (task.priority === 'Low') { %>selected<% } %>>Low</option>
      </select>

      <label for="category">Category:</label>
      <select id="category" name="category">
        <option value="Work" <% if (task.category === 'Work') { %>selected<% } %>>Work</option>
        <option value="Personal" <% if (task.category === 'Personal') { %>selected<% } %>>Personal</option>
        <option value="Home" <% if (task.category === 'Home') { %>selected<% } %>>Home</option>
      </select>

      <button type="submit">Update Task</button>
    </form>
  </div>
</body>

</html>